body{
    padding: 0;
    margin:0;
    margin-top:50px;
    padding: 0;
    font-family:"Helvetica";
    font-weight:400;

    font-size: 16px;
    line-height: 28px;
}

img{
    width:100%;
}

a{
    color:#45b;
}
a:visited { 
    color:#45b;
}

div.section{
    background-color: white;
    padding: 15px;
}
h1.section-title{
    font-weight: 400;
}

div.full-post-container{
    padding: 15px;
    background-color:white;
}
h1.full-post-title{
    margin: 15px 0;
}
div.full-post-date{
    color: rgb(100, 100, 100);
    margin: 15px 0;
}
div.full-post-content{
    background-color: white;
    padding: 15px;
    border-style: solid;
    border-radius: 5px;
    border-color: #45b;
    overflow-x: scroll
}

div.post-container{
    background-color:white;
    padding: 15px;
    margin: 15px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: #45b;
}
h1.post-title{
    margin-top: 0px;
    font-size: 25px;
}
div.post-date{
    color: gray;
}
h1.post-title a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
h1.post-title a:hover{
    color: #45b;
}


div.paper-container{
    background-color:white;
    padding: 15px;
    margin: 15px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: #45b;
}
h1.paper-title{
    margin-top: 0px;
    font-size: 25px;
}
div.paper-date{
    color: rgb(100, 100, 100);
}